<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Cooler JDI</title>
    <link rel="stylesheet" href="resources/css/bootstrap.css">
    <link href="resources/css/jdi-style.css" rel="stylesheet" media="screen">
  <style>[ng-cloak] {display: none}</style>
</head>
<body>

    <div id="task-app" ng-controller="TaskCtrl" class="layout-container">
        <div class="layout-header top-header">
            <div class="layout-half-header">
                <span class="title">JDI</span>
                <span class="add-button">+</span>
            </div>
        </div>
        <div class="layout-content">
            <div class="layout-left">
                <div class="layout-pane">
                    <ul ng-repeat="task in tasks" class="unstyled {{task.when.toLowerCase()}}" ng-click="showDetails()" ng-model="task">
                        <div class="header"><h2>{{task.when}}</h2></div>
                        <li >
                            <span class="indicator"></span><span class="time-circle">time</span><span class="info">
                                <div class="task-name">{{task.label}}</div>
                                <div class="task-date">{{task.when}}</div>
                            </span>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="layout-right info-container">
                <div class="layout-header layout-inner-header">
                    <div class="task-info-header">Task Info</div>
                </div>
                <div class="layout-content layout-inner-content">
                    <div class="layout-pane task-info-text">
                        info here
                    </div>
                </div>
                <div class="layout-footer layout-inner-footer buttons-list">
                    <span class="check-button">Check</span>
                    <span class="edit-button">Edit</span>
                    <span class="remove-button">Remove</span>
                </div>
            </div>
        </div>
    </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="libs/angular.js"></script>
  <script src="libs/bootstrap.js"></script>
  <script src="app.js"></script>
  <script src="controllers/task.js"></script>
  <script src="services/storage.js"></script>
</body>
</html>
