body {
	font-family: "Roboto", Helvetica, sans-serif !important;
	background: black;
	color: rgb(230,230,230);
}
.title {
	color: white;
	background-color: rgb(100,175,25);
	font-size: 8px;
	font-weight: bold;
	border-radius: 50px;
	font-weight: bold;
	display: inline-block;
	height: 20px;
	width: 20px;
	margin:6px;
	text-align: center;
	line-height: 20px;
	border: 2px solid white;
}
.add-button {
	font-family: Helvetica;
	color: black;
	font-size: 12px;
	background-color: white;
	font-size: 24px;
	border-radius: 10px;
	font-weight: bold;
	display: inline-block;
	height: 20px;
	width: 20px;
	margin: 10px;
	text-align: center;
	line-height: 18px;
	cursor: pointer;
}
.add-button:hover {
	background-color:rgb(184,184,184);
}
.add-button:active {
	background-color:rgb(75,75,75);
}

.late {
	color: rgb(200, 40, 20);
}
.today {
	color: rgb(200, 180, 120);
}
.soon {
	color: rgb(50, 150, 150);
}
.someday {
	color: rgb(75, 150, 100);
}

.top-header {
	border-bottom: 1px rgb(31,31,31) solid;
}

.info-container {
	background-color: rgb(31,31,31);
	color: rgb(184,184,184);
	border-left: 1px black solid;
	-webkit-box-shadow: -5px 0px 5px rgba(0,0,0,0.4);
}

.unstyled .header {
	border-bottom: 1px white solid;
}
.unstyled li {
	height: 40px;
	cursor: pointer;
}
.unstyled li:not(:last-child) {
	border-bottom: 1px rgb(31,31,31) solid;
}
.unstyled li:hover {
	background-color: rgb(31,31,31);
}
.unstyled .selected  {
	background-color: rgb(60,60,60);
}
.unstyled h2 {
	margin-bottom: 0px !important;
	margin-top: 0.5em;
	font-size: 2.4em;
	line-height: 0.78em;
}
.unstyled .indicator {
	width: 5px;
	height: 40px;
	display: block;
	float: left;
	background-color: white;
}
.unstyled .time-circle {
	width: 30px;
	height: 30px;
	border-radius:20px;
	margin: 3px;
	border: 2px white solid;
	background-color: rgb(31,31,31);
	display: block;
	float: left;
	font-size: 10px;
	color: white;
	line-height: 30px;
	text-align: center;
}
.unstyled .info {
	float: left;
	display: block;
	color: white;
	margin-left: 5px;
	height: 40px;
	min-width:100px;
}
.task-name, .task-date {
	height: 20px;
	font-size: 10px;
	line-height: 20px;
}
.late .header {
	border-color: rgb(200, 40, 20);
}
.today .header {
	border-color: rgb(200, 180, 120);
}
.soon .header {
	border-color: rgb(50, 150, 150);
}
.someday .header {
	border-color: rgb(75, 150, 100);
}
.buttons-list {
	text-align: center;
	background-color: rgba(0,0,0,0.1);
	border-top: 1px black solid;
}
.buttons-list span {
	height: 16px;
	display: inline-block;
	border: 1px rgb(60,60,60) solid;
	padding: 5px;
	width: 80px;
	cursor:pointer;
	line-height: 16px;
	margin-top: 7px;
}
.buttons-list span:hover {
	background-color: rgba(255,255,255,0.1);
}
.buttons-list span:active {
	background-color: rgba(0,0,0,0.1);
}
.task-info-header {
	background-color: rgb(100,175,25);
	color: rgb(31,31,31);
	width: 80;
	font-size:12px;
	font-weight: bold;
	text-align: center;
	height: 28px;
	margin-left:15px;
	line-height: 28px
}
.task-info-text {
	margin-left: 15px;
	margin-right: 15px;
	color: white;
}
.layout-inner-header {
	border-top: 2px rgb(100,175,25) solid;

}

/* generic */
.layout-container { width: 100%; height: 100%; }
.layout-header { position: absolute; left: 0px; top: 0px; right: 0px; }
.layout-content { position: absolute; left: 0px; right: 0px; }
.layout-left {  position: absolute; top: 0px; left: 0px; bottom: 0px; }
.layout-center { position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; }
.layout-right { position: absolute; top: 0px; right: 0px; bottom: 0px; }
.layout-footer { position: absolute; left: 0px; bottom: 0px; right: 0px; }
.layout-pane { height: 100%; height: 100%; overflow: auto; }

/* specific */
.layout-header { height: 40px; }
.layout-content { top: 40px; bottom: 0px; }
.layout-left { width: 50%; }
.layout-right { width: 50%; }
.layout-footer { height: 40px; }

/* specific inner */
.layout-inner-pane { }
.layout-inner-header {height: 40px; }
.layout-inner-content { top: 40px; bottom: 40px; }
.layout-inner-footer { height: 40px; }
.layout-half-header { width: 50%; }
.add-button { float:right; }
.layout-inner-content {
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}
